body {
  margin: 0;
}

article {
  height: 1000px;
}

img {
  max-width: 100%;
}

.menu {
  width: 100%;
  background: #eee;
  margin: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
}

.menu img {
  margin: 0 30px;
  display: inline-block;
  vertical-align: center;
}

.menu a {
  text-decoration: none;
  color: #111;
  padding: 10px 5px;
}

.menu ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

#burguer {
  display: none;
}

footer {
  width: 100%;
  background: #eee;
}

.footercontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  gap: 50px;
}

.footerconteudo {
  text-align: center;
}

@media (max-width: 700px) {
  #burguer {
    display: block;
    padding: 20px;
    align-self: center;
    justify-self: right;
    margin: 0 30px;
  }
  #burguer:hover {
    color: white;
    cursor: pointer;
  }
  .menu ul {
    display: none;
  }
}