body {
  margin: 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

article {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}

img {
  max-width: 100%;
}

.menu {
  width: 100%;
  background: #eee;
  margin: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  z-index: 1;
}

.menu img {
  margin: 0 30px;
  display: inline-block;
  vertical-align: center;
}

.menu a {
  text-decoration: none;
  color: #111;
  padding: 10px 5px;
  font-size: 1.2rem;
}

.menu ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin-bottom: 0;
}

#burguer {
  display: none;
}

footer {
  width: 100%;
  background: #eee;
}

.footercontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  gap: 50px;
}

.footerconteudo {
  text-align: center;
  justify-items: center;
}

.footerconteudo a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.footerconteudo span {
  color: black;
  padding: 0;
  margin: 0;
}

@media (max-width: 700px) {
  #burguer {
    display: block;
    padding: 20px;
    align-self: center;
    justify-self: right;
    margin: 0 30px;
  }
  #burguer:hover {
    color: white;
    cursor: pointer;
  }
  .menu ul {
    display: none;
  }
  .menu a {
      font-size: 0.9rem;
  }
}

.titulopagina {
  padding-left: 30px;
}

.slide1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
  padding-left: 30px;
}

.iconesslide1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 30px;
  text-align: justify;
}

.iconesslide1 img {
  height: 100px;
}

.iconesslide1 h3 {
  margin: 0;
}

.setasslide1 {
  display: grid;
  justify-items: center;
}

.setasslide1 p {
  margin-bottom: 0;
  padding: 5px;
}

.metasestrategicas {
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 700px) {
  .slide1 {
    grid-template-columns: 1fr;
    padding: 25px;
  }
  .iconesslide1 p {
    padding: 10px;
    font-size: 0.9rem;
  }
  .iconesslide1 {
    grid-template-columns: 1fr 2fr;
    padding-bottom: 0;
  }
  .footercontainer {
    gap: 10px;
  }
  .footerconteudo p {
    word-break: break-all;
    inline-size: 14ch;
    margin: 0 auto;
  }
}

.nomeefoto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
  margin: 0 50px;
}

.quemsomosconteudo {
  margin: 0 50px;
}

.quemsomosconteudo h1 h2 h3 p {
  padding: 10px;
  gap: 10px;
}

.quemsomosvalores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.quemsomosvalores span {
  background-image: url(./img/whatsapp.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 30px;
  font-size: 1.1rem;
}