body {
  margin: 20px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

article {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 100px 10px 10px;
}

img {
  max-width: 100%;
}

.menu {
  width: 100%;
  background: #eee;
  margin: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  z-index: 1;
}

.menu img {
  margin: 0 30px;
  display: inline-block;
  vertical-align: center;
}

.menu a {
  text-decoration: none;
  color: #111;
  padding: 10px 5px;
  font-size: 1.2rem;
}

.menu a::before {
  content: '';
  transition: 0.3s;
}

.menu a:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.menu a::before {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.menu a::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.menu a:hover{
  text-decoration: underline;
}

.menu ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin-bottom: 0;
}

.linkativo a {
  color: #66B3E0;
}

#burguer {
  display: none;
}

footer {
  width: 100%;
  background: #eee;
}

.footercontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  gap: 50px;
}

.footerconteudo {
  text-align: center;
  justify-items: center;
}

.footerconteudo a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.footerconteudo span {
  color: black;
  padding: 0;
  margin: 0;
}

.titulopagina {
  padding-left: 30px;
}

.slide1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
  padding-left: 30px;
}

.iconesslide1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 30px;
  text-align: justify;
}

.iconesslide1 img {
  height: 100px;
}

.iconesslide1 h3 {
  margin: 0;
}

.setasslide1 {
  display: grid;
  justify-items: center;
}

.setasslide1 p {
  margin-bottom: 0;
  padding: 5px;
}

.metasestrategicas {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
}

.nomeefoto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
  margin: 30px 50px;
}

.quemsomosconteudo {
  margin: 0 50px;
}

.quemsomosconteudo h1 h2 h3 p {
  padding: 15px;
  gap: 15px;
}

.quemsomosvalores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.progressao {
  display: grid;
  justify-items: center;
  margin: 15px 0px;
  padding: 0px;
  width: 100%;
}

.modalidadesconsultoria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 30px 10px;
}

.modalidadesmodulo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.modalidadesimg {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.modalidadesreuniao {
  display: grid;
  justify-content: center;
  font-size: 0.75rem;
}

.modalidadesreuniao img {
  height: 200px;
  width: 350px;
  border-radius: 5px;
}

.perfil {
  height: 150px;
  border-radius: 5px;
  align-content: center;
  margin: 0 30px;
}

.solucoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.solucoesmodulos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin: 10px;
}

.gestoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 15px;
}

.gestao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0;
  gap: 30px;
  text-align: justify;
}

.personalizado {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0;
  justify-items: center;
}

.personalizado img {
  height: 300px;

}

@media (max-width: 700px) {
  #burguer {
    display: block;
    padding: 20px;
    align-self: center;
    justify-self: right;
    margin: 0 30px;
  }
  #burguer:hover {
    color: white;
    cursor: pointer;
  }
  .menu ul {
    display: none;
  }
  .menu a {
      font-size: 0.9rem;
  }
    .slide1 {
    grid-template-columns: 1fr;
    padding: 25px;
  }
  .iconesslide1 p {
    padding: 10px;
    font-size: 0.9rem;
  }
  .iconesslide1 {
    grid-template-columns: 1fr 2fr;
    padding-bottom: 0;
  }
  .footercontainer {
    gap: 10px;
  }
  .footerconteudo p {
    word-break: break-all;
    inline-size: 14ch;
    margin: 0 auto;
  }

  .modalidadesconsultoria {
    grid-template-columns: 1fr;
  }

  .modalidadesmodulo {
    grid-template-columns: 1fr;
  }

  .modalidadesmodulo img {
    display: none;
  }

  .modalidadesimg {
    display: none;
  }

  .solucoes {
    grid-template-columns: 1fr;
  }
  
  .solucoesmodulos {
    grid-template-columns: 1fr;
  }

  .solucoesmodulos img {
    display: none;
  }

  .gestoes {
    grid-template-columns: 1fr;
  }

  .gestao {
    grid-template-columns: 1fr;
  }

  .personalizado {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}